//Variables
//colours
$background-dark: rgb(21, 24, 28);
$button-color: rgb(125, 24, 125);
$button-hover: rgba(139, 25, 139, 0.986);
$button-selected: #1740ba;
$button-selected-hover: #1c48cb;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;
}
*{
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
p{
  color: white;
}
body {
  margin: 0;
  background-color: $background-dark;
  color: #fff;
  background-image: url('/blob5.svg'), url('/blobs.svg');
  background-repeat: no-repeat;
  background-position: left 65vh, top right;
  background-size: 500px;
  padding: 5rem;
}

.welcome-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 400px;
  margin:  5rem auto;
  padding: 3rem;

  .welcome-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border: 1px solid rgb(229, 226, 226);
  }

  h1{
    font-size: 6rem;
  } 
  
  p{
    font-size: 2rem;
  }
  
  button{
    border: none;
    border-radius: .4rem;
    background-color: $button-color;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.5rem 3rem;
  }
  
  button:hover{
    background-color: $button-hover;
  
  }
}


.question-card{
  border: 1px solid white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  padding: 2rem 4rem 2rem 2rem;

  h3{
    margin: auto;
    padding:1rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    width: 90%;
  }
  li{
  list-style: none;
  }
  .question-block{
    margin-bottom: 2.5rem;
  }
  span{
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  .answer-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    width: 90%;
    button{
      padding: .7rem;
      color: #fff;
      border: none;
      border-radius: .3rem;
      background-color: $button-color;
      box-shadow: 1px 1px 2px rgb(25, 5, 25);
      width: 80%;
      line-height: 1.2rem;
      text-align: center;
      margin:auto;
      height: 3.5rem;
      width: 10rem;
    }

    .btn-selected{
      background-color: $button-selected;
    }

    .btn-selected:hover{
      background-color: $button-selected-hover;
    }

    button:hover{
      background-color: $button-hover;
      box-shadow: 1px 1px 4px rgb(63, 13, 63);

    }
  }

  hr{
    margin-top: 3rem;
    
    color: white;
    width: 100%;
  }
  
}

